# Go build output
*.exe
*.out
*.test
coverage
coverage.html

# backup & temp files
*~
*.un~


# Build / binary folders
/bin/
build/

# Dependency management
/vendor/

# IDE / Editor files
.idea/
.vscode/

# OS junk
.DS_Store

.env
